<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Path to MH_03 bag -->
  <arg name="mh_03_bag" default="/home/shenqi329/catkin_ws/msckf/src/msckf_mono/euroc/p40_camimuverify.bag"/>

  <!-- Path to MH_03 kalibr calibration -->
  <arg name="kalibr_yaml" default="$(find ov2slam)/parameters_files/fast/p40/p40.yaml"/>

  <node pkg="ov2slam" name="ov2slam_node" type="ov2slam_node" args="$(arg kalibr_yaml)"/>

  <node pkg="rosbag" type="play" name="playback" args="$(arg mh_03_bag)" output="screen"/>

  <node pkg="rviz" name="ov2slam_rviz" type="rviz" args="-d $(find ov2slam)/ov2slam_visualization.rviz"/>

</launch>
